.btn-lg {
  font-size: 15px;
  @apply py-3 px-8;
}

.btn-sm {
  font-size: 13px;
  letter-spacing: 0.46px;
  @apply py-1.5 px-6;
}

.btn-md {
  font-size: 14px;
  background-color: black;
  @apply py-2.5 px-7;
}

.btn-xs {
  font-size: 12px;
  line-height: 1.5;
}

.primary {
  background: var(--brand-main);
  transition: 0.5s;
  @apply text-white;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  @apply rounded-3xl;
}

.btn:disabled {
  cursor: not-allowed;
  @apply bg-gray-200 text-gray-400;
}

.primary:hover:enabled {
  @apply bg-blue-300;
}

.secondary {
  background:none;
  transition: 0.5s;
  @apply text-slate-500 border-[1.5px] border-gray-300;
}

.secondary:hover:enabled {
  @apply bg-gray-100;
}
